.input {
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
}

.input label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input input {
    display: block;
    width: 100%;
    border: 1px solid whitesmoke;
    padding: 0.5rem;
    margin-bottom: 00.5rem;
}

.input input:focus{
    outline: 2px solid teal;
}